# build files
bin/
bin/Release/
bin/Debug/
build/
examples/
obj/
screenshots/
src/raylib_module
src/sfml_module
.vscode/

**/*.dll
**/*.o
Game_Pencil_Engine_IDE
game_errors.txt
Game-Pencil-Engine-Editor.cbp
Game-Pencil-Engine-Editor.depend
Game-Pencil-Engine-Editor.layout
Game_Pencil_Engine_IDE.cbp
Game_Pencil_Engine_IDE.depend
Game_Pencil_Engine_IDE.layout