@charset "UTF-8";

/* This code sets the margin to 0 so that there is no extra space around the canvas.*/
body
{
	margin: 0px;
	padding: 0px;
	width:  100%;
	height: 100%;
	overflow:hidden;
	text-align: center;
}

/* This code shows the canvas.*/
/* Set the scroll bar display to "block."*/
canvas.show
{
	display: block;
}

/* This code hides the canvas.*/
canvas.hide
{
	display: none;
}


video
{
	visibility: hidden;
	display: none;
}