
body
{
   background-color: #000000;
   color: #C0C0C0;
 width: 100%;
 height: 100%;
}
canvas
{
border-color: #101010;
}
h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11, h12
{
  color: #0000E4;
}
p
{
  color: #C0C0C0;
}
a,a:link
{
     color: #1010FF;
}
a:active
{
     color: #C0C0C0;
}
a:hover
{
     color: #C0FFC0;
}
a:visited
{
     color: #C010C0;
}


